@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700');

html {
    --black:rgb(10, 10, 10);
    --white:rgb(247, 247, 247);

    --global_margin: 20px;

    --marking-white:rgb(146, 137, 5);
    --marking-black:rgb(231, 225, 137);

    --transtion-function: ease-in-out
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
}

#app, #background {
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    overflow: hidden;
}

#background {
    background: transparent url(debut_light-transparent.png) repeat fixed;
}

div.tweet {
    position: absolute;
    max-width: 66.66%;
    
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    
    transition: bottom .25s, opacity .5s;
    transition-timing-function: var(--transtion-function);
}

div.tweet p {
    margin: 2px 0 0 0;
    padding: var(--global_margin);
    
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;

    transition: color .5s, background-color .5s, border-color .5s;
    transition-timing-function: var(--transtion-function);
}

div.tweet span.entity-mention {
    font-style: italic;
}

div.tweet span.entity-hashtag {
    font-weight: 700;
}

div.yin p {
    background-color: var(--white);
    border-color: var(--black);
    color: var(--black);
}

div.inverted.yin p {
    background-color: var(--black);
    border-color: var(--white);
    color: var(--white);
}

div.yang p {
    background-color: var(--black);
    border-color: var(--white);
    color: var(--white);
}

div.inverted.yang p {
    background-color: var(--white);
    border-color: var(--black);
    color: var(--black);
}

div.yin .entity-query {
    background-color:var(--marking-white);
    color:var(--white);
}

div.invertd.yin .entity-query {
    background-color:var(--marking-black);
    color:var(--black);
}

div.yang .entity-query {
    background-color:var(--marking-black);
    color:var(--black);
}

div.inverted.yang .entity-query {
    background-color:var(--marking-white);
    color:var(--white);
}

div.info {
    padding: 4px 0;
    margin: 2px 0;
}

div.yin .info {
    margin-left: calc(var(--global_margin) * .5);
}

div.yang .info {
    margin-right: calc(var(--global_margin) * .5);
    text-align: right;
}

div.info span.info-date {
    background: var(--white);
    font-size: 15px;
    font-family: monospace;
}
