*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    height: 100%;
}

body {
	line-height: 1;
    overflow: hidden;
    /* background-color:rgb(10,10,10); */
}